phpspider/config
phpspider/data
phpspider/demo
phpspider/*.php
phpspider/*.sql
phpspider/*.md
assets
cache
tags
.phpcomplete_extended
composer.lock
vendor
bin/*
Util/Api.php
test
examples/
!bin/scripts
!bin/tags
bin/scripts/*
!bin/scripts/env
